.page-nav {
    @include flex-row;
    margin-top: 10px;
    margin-bottom: 155px;
}

.page-logo {
    @include font-def($f-size: 30px, $f-weight: 700,
                      $color: $primary-light-text-color);
    @extend %link;
}

.site-navigation {
    @include flex-row;
    @extend %list;
    margin-top: 4px;

    &__link {
        @include font-def($f-weight: 600, 
                          $color: $primary-light-text-color);
        @extend %link;
        @extend %uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: color 200ms linear;

        &:hover {
            color: $primary-accent-color;
        }
    }

    &__item:first-child {
        padding-left: 80px;
    }

    &__item:not(:nth-last-child(-n + 2))::after {
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background-color: transparent;
        transition: background-color 200ms linear;
        margin-top: 10px;
    }

    &__item:not(:nth-last-child(-n + 2)):hover::after {
        background-color: $primary-accent-color;
    }

    &__icon {
        width: 18px;
        height: 18px;
        fill: $primary-light-text-color;
        transition: fill 200ms linear;

        &:hover,
        &:focus { 
            fill: $primary-accent-color;
        }
    }
}