.team-list{
    @extend %list;

    &__item {
        height: 624px;
        @extend %text-centre;
    }

    &__img-wrapper {
        position: relative;
        height: 470.1px;
        /* height: $container-width * 0.31558 * 1.23685; */
        background-color: $primary-fill-color;
        margin-bottom: 28px;
    }

    &__img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 470px;
        transition: transform 200ms linear;
    }

    &__socials {
        @extend %list;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 470px;
        background: linear-gradient(to top, $main-gradient-color1, $main-gradient-color2);
        opacity: 0;
        transition: transform 200ms linear,
                    opacity 200ms linear;
        text-align: center;
        line-height: 470px;
    }

    &__img-wrapper:hover &__img {
        transform: translate(-10px, -10px);
    }

    &__img-wrapper:hover &__socials {
        transform: translate(-10px, -10px);
        opacity: 1;
    }

    &__soc-item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1px;
        }
    }

    &__soc-link {
        display: block;
        background-color: $primary-accent-color;
        transition: background-color 200ms linear;
        width: 56px;
        height: 56px;
        position: relative;
        
        &:hover {
        background-color: $secondary-accent-color;
        }

        &:hover .team-list__soc-icon {
            fill: $primary-light-color;
        }
    }

    &__soc-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        fill: $secondary-accent-color;
        transition: fill 200ms linear;
    }

    &__item-name {
        @include font-def($f-weight: 600);
        @extend %uppercase;
        margin-bottom: 12px;
    }

    &__item-position {
        @include font-def($f-family: ('Roboto', sans-serif), 
                          $f-size: 15px, 
                          $f-style: italic, 
                          $l-height: 24px, 
                          $color: $secondary-dark-text-color);
    }
}

@include generate-icon-size('team-list__soc-icon--', $icons, $widths, $heights);